.header {
  background-color: #212121;
  width: 100%;
  height: 58px;
  
  .header__inner {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 100%;

    .header__logo {
      margin: auto;
      justify-content: center;
      display: flex;
    }

    .header__toggle {
      margin: auto;
      margin-left: 15px;
    }

    .header__actions {
      margin: auto;
      margin-right: 15px;
    }

    i {
      font-size: 25px;
      color: white;
    }
  }
}
